<footer class="bg-body-tertiary text-center">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a
        data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/share/6soCqSq6HyXXNCiY/?mibextid=LQQJ4d"
          target="_blank"
          role="button"
          ><i class="bi bi-facebook"></i
        ></a>
  
        <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #dc2d59;"
        href="https://www.instagram.com/kayankworkspace?igsh=MXAxNDhrZ3NzdmZ6ZQ=="
        target="_blank"
        role="button"
        ><i class="bi bi-instagram"></i
      ></a>


        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #1b1e20;"
          href="https://www.tiktok.com/@kayankworkspace?is_from_webapp=1&sender_device=pc"
          target="_blank"
          role="button">
          <i class="bi bi-tiktok"></i>
        </a>
  
      
        <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #2f9931;"
        href="https://wa.me/201555232091"
        target="_blank"
        role="button"
        ><i class="bi bi-whatsapp"></i>
        </a>
       
      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="#">KAYANK</a>
    </div>
  </footer>