

<div class="about-us text-center p-3">
    <h1 style="margin-left: 20%; margin-top: -65px;"><b>Kayank - The Place Where Creativity is Born</b></h1>

        <div class="card">
            <img class="card-img-top" src="../../assets/images/44.png" alt="Card image cap" style="width:35% ; position:relative; left:41%;">
                 
         
      </div>
    <div class="aboutus-text">
        <h4>Welcome to our Co-working space <b>KAYANK</b>,</h4>
        <h4>Your private place that combines creativity and professionalism.</h4>
        <h4>We offer a quiet, comfortable work environment equipped with the latest technologies,</h4>
        <h4>including meeting rooms and private offices to help you achieve your goals,</h4>
        <h4>develop your projects, and facilitate your studies.</h4>
    </div>
</div>


