

<section class="pt-5 pb-5">
    <div class="container" >
        <div class="row">
            <div class="col-6">
              
            </div>
           
            <div class="col-15">
                <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel" >
                    <div class="carousel-inner">
                        <!-- First carousel item -->
                        <div class="carousel-item active" data-bs-interval="3000">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../assets/images/IMG_9610.JPG">
                                        
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../assets/images/IMG_9609.JPG">
                                        
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../assets/images/IMG_9611.JPG">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second carousel item -->
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../assets/images/IMG_9604.JPG ">
                                       
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../assets/images/IMG_9602.JPG">
                                       
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../assets/images/IMG_1095.JPG">
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Third carousel item -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../assets/images/IMG_1050.JPG">
                                        
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../assets/images/IMG_9608.JPG ">
                                      
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="../../assets/images/IMG_9607.JPG">
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 text-end">
                <a class="btn mb-3 me-1" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev">
                    <i class="fas fa-arrow-left"> Previous</i>
                </a>
                <a class="btn  mb-3" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
                    <i class="fas fa-arrow-right">Next</i>
                </a>
            </div>
        </div>
    </div>
</section>