.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows cards to wrap when space is limited */
    gap: 20px; /* Space between cards */
    margin-left: 60px;
    margin-bottom: 50px;
  }
  
  .card {
    width: 28%; /* Adjust as needed */
    padding-bottom: 20px;
    margin-top: 60px;
    border: transparent;
    display: flex;
    flex-direction: column;
  }
  .card:hover{
    box-shadow: 2px 10px 15px 20px rgba(179, 174, 174, 0.248);
  }
  .card-text{
    color: gray;
  }
  .card-title h3
  {
    font-size: 20px;
    margin-bottom: -60px;
  }

  /* Media query for responsiveness on smaller screens */
@media (max-width: 1024px) {
  .card {
      width: 45%; /* Adjusts card width for tablet screens */
  }

}

@media (max-width: 768px) {
  .card {
      width: 100%; /* Adjusts card width for mobile screens */
  }
  
  .card-container{
    position: relative;
    left: -7%;
  }
}