<div class="bg-image">
    <img src="../../assets/images/team-meeting-renewable-energy-project.jpeg" alt=" nobackground" class="img-fluid"
    style="height:1000px; width: 100%;"
    >
    <div class="layer">
    </div>
</div>
<div class="bg-text background-color">
    <h1>Your future workspace </h1>
    <h1>awaits you</h1>
    <p>Find your perfect workspace for productivity and collaboration </p>
    <p>Thank you for supporting us.</p>
    <br>
    <button type="type" class="btn btn-dark" routerLink="/contact-us"> GET IN TOUCH </button>

 </div>
 <h1 class="about-us-title">About Us</h1> 
<app-about-us></app-about-us>

 <h1 class="gallary-title">Gallery</h1>
<app-gallary></app-gallary>

 <h1 class="services-title">Services</h1>
 <app-services></app-services>

 <h1 class="offers-title">Our Offers</h1>
 <app-offers></app-offers>
<app-contact-us></app-contact-us>